<div class="d-flex justify-content-end gap-2 my-2">
    <div class="mx-2" routerLink="/register-user" routerLinkActive="active"><button class="btn btn-warning">Register</button></div>
    <div class="mx-2" routerLink="/login" routerLinkActive="active"><button class="btn btn-warning">Login</button></div>
    <div class="mx-2" routerLink="/forgot-password" routerLinkActive="active"><button class="btn btn-warning">Forgot Password</button></div>
  </div>
<div class="text-center my-5">
    <h2 class="my-5">My Kanban</h2>
    <p class="my-5">This is just a demo page, We'll implement the landing page of the App here</p>
    <p class="my-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae obcaecati veritatis amet dolor eos omnis qui repudiandae quos deleniti corporis debitis iure </p>
</div>